<div id="Header" class="header">
	<div class="container">
    <h1 class="header_logo"><%= link_to image_tag('logo.png'), :root %></h1>
		<ul class="header_menu">
			<li>
	      <%= link_to :about_statics do %>
	        <i class="icon-heart"></i>このサイトとは
	      <% end %>
			</li>
			<li>
	      <%= link_to :new_post do %>
	        <i class="icon-user"></i>クリエイターの方
	      <% end %>
			</li>
			<li>
	      <%= link_to :new_post do %>
	        <i class="icon-iphone"></i>iOSアプリ
	      <% end %>
			</li>
			<li>
	      <%= link_to :terms_statics do %>
	        <i class="icon-mail"></i>お問い合わせ
	      <% end %>
			</li>
			<li>
	      <%= link_to :terms_statics do %>
	        <i class="icon-book"></i>利用規約
	      <% end %>
			</li>
		</ul>
    <%= link_to(image_tag('appstore.png'), :root, {:class=>'header_appstore'}) %>
	</div>
</div>
