<div id="Header" class="header">
	<div class="container">
		<ul class="header_category">
			<li>
				<%= link_to :root do %>全て<% end %>
			</li>
			<li>
				<%= link_to category_post_path(:category=>'graphic') do %>
				  <i class="icon-brush graphic"></i> イラスト・グラフィック
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path(:category=>'degital') do %>
					<i class="icon-camera digital"></i> 写真・映像・メディア
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path(:category=>'interior') do %>
					<i class="icon-home architecture"></i> 建築・インテリア
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path(:category=>'fashion') do %>
					<i class="icon-scissors fashion"></i> ファッション・クラフト
				<% end %>
			</li>
		</ul>
		<ul class="header_share">
			<li>
				<%= link_to 'https://www.facebook.com/artpocket.me', {:target=>"_blank"} do %><i class="icon-facebook facebook"></i><% end %>
			</li>
			<li>
				<%= link_to 'https://twitter.com/art_pocket', {:target=>"_blank"} do %><i class="icon-twitter twitter"></i><% end %>
			</li>
		</ul>
	</div>
</div>
