<div id="Header" class="header">
	<div class="container">
		<ul class="header_category">
			<li>
				<%= link_to :root do %>全て<% end %>
			</li>
			<li>
				<%= link_to category_post_path('graphic') do %>
				  <i class="icon-painter graphic"></i> イラスト・グラフィック
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path('media') do %>
					<i class="icon-video digital"></i> 写真・映像・メディア
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path('architecture') do %>
					<i class="icon-home architecture"></i> 建築・インテリア
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path('fashion') do %>
					<i class="icon-tshirt fashion"></i> ファッション・クラフト
				<% end %>
			</li>
			<li>
				<%= link_to category_post_path('other') do %>
					<i class="icon-more other"></i> その他
				<% end %>
			</li>
		</ul>
		<%= link_to this_schedule_path, {:class=>"header_schedule"} do %>
			<span>NEW</span>イベントカレンダー
		<% end %>
	</div>
</div>
