<ul class="sidebar">
  <li class="ad">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-7183337843978214"
         data-ad-slot="6634443081"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </li>
  <% if @today.present? %>
    <li class="sidebar_schedule">
      <h3 class="sidebar_schedule_title">本日開催中 <%= Time.zone.now.strftime("%-m/%-d") %>(<%= day_ja(Time.zone.now.strftime("%w").to_i) %>)</h3>
        <table class="sidebar_schedule_list">
          <% @today.each do |post| %>
            <tr>
              <td><%= link_to(truncate(post.title, :length=>18), show_post_path(post.id)) %></td>
              <td>
                <% if post.close_date.strftime("%-m/%-d")==Time.zone.now.strftime("%-m/%-d") %>
                  今日まで
                <% elsif post.close_date.strftime("%-m/%-d")==1.days.from_now.strftime("%-m/%-d") %>
                  明日まで
                <% else %>
                  <%= post.close_date.strftime("%-m/%-d") %>まで
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
    </li>
  <% end %>
  <% if @tommorow.present? %>
    <li class="sidebar_schedule">
        <h3 class="sidebar_schedule_title">明日から開催 <%= 1.days.from_now.strftime("%-m/%-d") %>(<%= day_ja(1.days.from_now.strftime("%w").to_i) %>)</h3>
        <table class="sidebar_schedule_list">
          <% @tommorow.each do |post| %>
            <tr>
              <td><%= link_to(truncate(post.title, :length=>18), show_post_path(post.id)) %></td>
              <td><%= post.close_date.strftime("%-m/%-d") %>まで</td>
            </tr>
          <% end %>
        </table>
    </li>
  <% end %>
  <li class="sidebar_fb">
    <iframe        src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fartpocket.me&amp;width=277&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=705208482920560"
            scrolling="no"
            frameborder="0"
            style="overflow:hidden; width:297px; height:258px;"
            allowTransparency="true">
    </iframe>
  </li>
  <li>
    <a class="twitter-timeline" href="https://twitter.com/artpocket_me" data-widget-id="555687046774153216">@artpocket_meさんのツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
</ul>
