<nav id="Slidemenu" class="slidemenu">
  <div class="slidemenu_ad">
    <% if true %>
      <div class="slidemenu_ad_custom">
        <p>AD:広告募集中</p>
        <%= link_to image_tag('ad_mikke_sp.png'),
            'http://mikke-app.com/',
            {
              :onclick=>"_gaq.push(['_trackEvent', 'ads', 'mikke', 'sp', , true]);",
              :target=>"_blank",
            }
        %>
      </div>
    <% else %>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="slidemenu_ad_google adsbygoogle"
           style="display:inline-block;width:234px;height:60px"
           data-ad-client="ca-pub-7183337843978214"
           data-ad-slot="4981083083"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    <% end %>
  </div>
  <ul class="slidemenu_category">
    <li>カテゴリー</li>
    <li>
      <%= link_to category_post_path('graphic') do %>
        <i class="icon-painter graphic"></i> イラスト・グラフィック
      <% end %>
    </li>
    <li>
      <%= link_to category_post_path('media') do %>
        <i class="icon-video digital"></i> 写真・映像・メディア
      <% end %>
    </li>
    <li>
      <%= link_to category_post_path('architecture') do %>
        <i class="icon-home architecture"></i> 建築・インテリア
      <% end %>
    </li>
    <li>
      <%= link_to category_post_path('fashion') do %>
        <i class="icon-tshirt fashion"></i> ファッション・クラフト
      <% end %>
    </li>
    <li>
      <%= link_to category_post_path('other') do %>
        <i class="icon-more other"></i> その他
      <% end %>
    </li>
  </ul>
  <ul class="slidemenu_sns">
    <li class="facebook">
      <%= link_to 'https://www.facebook.com/artpocket.me', {:target=>"_blank"} do %>
        <i class="icon-facebook"></i> Facebook
      <% end %>
    </li>
    <li class="twitter">
      <%= link_to 'https://twitter.com/art_pocket', {:target=>"_blank"} do %>
        <i class="icon-twitter"></i> Twitter
      <% end %>
    </li>
  </ul>
  <ul class="slidemenu_statics">
    <li>サイトメニュー</li>
    <li>
      <%= link_to :about_statics do %>このサイトとは<% end %>
    </li>
    <li>
      <%= link_to :new_post, {:target=>"_blank"} do %>フライヤー登録申請<% end %>
    </li>
    <li>
      <%= link_to :terms_statics do %>利用規約<% end %>
    </li>
    <li>
      <%= link_to :contact_statics do %>お問い合わせ<% end %>
    </li>
  </ul>
</nav>
