<div id="Top" class="top">
  <div class="container">
    <h1 class="top_logo"><%= link_to image_tag('logo.png'), :root %></h1>
    <p class="top_description">東海のアートイベントのフライヤー集めました</p>
    <ul class="top_menu">
      <li>
        <%= link_to :about_statics do %>このサイトとは<% end %>
      </li>
      <li>
        <%= link_to :new_post do %>フライヤー登録<% end %>
      </li>
      <li>
        <%= link_to :terms_statics do %>利用規約<% end %>
      </li>
      <li>
        <%= link_to :contact_statics do %>お問い合わせ<% end %>
      </li>
    </ul>
  </div>
</div>
