<% set_meta_tags({
title: 'このサイトとは',
og: {
  type: 'article',
},
})%>

<div class="static">
  <div class="static_section">
    <h3 class="static_section_title">アートポケットについて</h3>
    <div class="about">
      <p>
        「アートポケット」は、東海のアートイベントの素敵なフライヤーを集めたwebサイト,iOSアプリです。
        「<%= link_to category_post_path(:category=>'graphic') do %>イラスト・グラフィック<% end %>」
        「<%= link_to category_post_path(:category=>'media') do %>写真・映像・メディア<% end %>」
        「<%= link_to category_post_path(:category=>'architecture') do %>建築・インテリア<% end %>」
        「<%= link_to category_post_path(:category=>'fashion') do %>ファッション・クラフト<% end %>」
        「<%= link_to category_post_path(:category=>'graphic') do %>その他<% end %>」
        の5つのカテゴリーに別け、さまざまなジャンルのイベントや展示会が掲載されています。
      </p>
      <p>
        どれだけ素敵な場所や良質な物であっても
        それを伝達しない限り、人に知ってもらうことはできません。
        誰にも知られなければ、どれだけいいものであっても残っていくことができません。
      </p>
      <p>
        アートポケットを通じて、東海のアートイベントをもっと盛んに。
        今までイベントに行ったことがない方には、アートをもっと身近に。
        このサイトを通じて、多くの方が素敵なイベントに出会えるよう願っています。
      </p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">フライヤー掲載について</h3>
    <div class="about">
      <p>
        このサイトへのイベント情報掲載は<strong>完全無料</strong>です。
      </p>
      <p>
        アートポケットwebサイト、iOSアプリ、各種SNSアカウントを用いて宣伝させていただきます。
        イベントHPの代用・告知・集客に、ぜひ当サイトをご利用ください。
      </p>
      <p>
        <%= link_to :terms_statics do %>利用規約<% end %>に同意の上、<%= link_to :new_post do %>フライヤー登録申請<% end %>よりお願いいたします。
      </p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">広告掲載について</h3>
    <div class="about">
      <p>
        イベントの宣伝や作品の販売ページへの誘導など、当サイトの趣旨に沿うものであればバナー広告を掲載する事が出来ます。
      </p>
      <p>
        詳しくは<%= link_to :contact_statics do %>お問い合わせ<% end %>よりご連絡ください。
      </p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">運営について</h3>
    <div class="about">
      <p>
        アートポケットは個人のアートファンからなる数名のチームで運営されており、企業により運営されているものではありません。
      </p>
      <p>
        随時仲間を募集しています。東海のアートシーンをもっと盛り上げたいという熱い想いをお持ちの方、<%= link_to :contact_statics do %>お問い合わせ<% end %>より連絡お待ちしております:)
      </p>
    </div>
  </div>
</div>
