<% set_meta_tags({
title: '新着フライヤー',
og: {
	type: 'website',
},
})%>

<p class="index_text">東海のアートイベントのフライヤー、無料で掲載いたします。<%= link_to :new_post do %>フライヤー登録申請する<% end %></p>
<div class="schedule">
	<table class="schedule_calendar">
		<tr>
			<th></th>
			<th><%= Time.zone.now.strftime("%-m/%-d") %>(<%= day_ja(Time.zone.now.strftime("%w").to_i) %>)</th>
			<% for i in 1..6 do %>
				<th><%= i.days.from_now.strftime("%-m/%-d") %>(<%= day_ja(i.days.from_now.strftime("%w").to_i) %>)</th>
			<% end %>
		</tr>
		<% @schedules.each_with_index do |post, i| %>
			<tr>
				<td><%= link_to(truncate(post.title, :length=>16), show_post_path(post.id)) %></td>
				<% for j in 0..6 do %>
					<td><span class='<%= "enable enable_#{post.category.title}" if @calendar[i][j] %>'></span></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
<div class="post">
	<ul id="IndexList" class="index_list">
		<% @posts.each do |post| %>
			<li>
				<%= link_to show_post_path(post.id) do %>
					<div class="index_list_thumb">
						<%= image_tag(post.pictures[0].image.url(:resized)) %>
					</div>
					<h2 class="index_list_title"><%= truncate(post.title, :length=>35) %></h2>
					<p class="index_list_date">
						<i class="icon-calendar"></i>
						<% if post.open_date!=post.close_date %>
							<%= post.open_date.strftime("%-m/%-d") %>〜<%= post.close_date.strftime("%-m/%-d") %>
						<% else %>
							<%= post.open_date.strftime("%-m/%-d") %>
						<% end %>
						&nbsp;
						<i class="icon-map"></i>
						<%= post.place %>
					</p>
				<% end %>
			</li>
		<% end %>
		<% if request.smart_phone? && @posts.length==1 %>
			<li><a style="background:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;"></a></li>
		<% end %>
	</ul>
	<!-- <p class="index_more">もっと表示する</p> -->

	<script type="text/javascript">
	$(window).load(function() {
		$('#IndexList').masonry({
			itemSelector: 'li',
			<% if request.smart_phone? %>
				columnWidth: (screen.availWidth-10)/2,
			<% else %>
				columnWidth: 300,
			<% end %>
			isFitWidth: true,
		});
	})
	</script>
</div>
