<% set_meta_tags({
title: '新着フライヤー',
og: {
	type: 'website',
},
})%>

<div class="post">
	<p class="index_text">アートイベントのフライヤー、無料で掲載いたします。<%= link_to :new_post do %>フライヤー登録申請する<% end %></p>
	<ul id="IndexList" class="index_list">
		<% @posts.each do |post| %>
			<li>
				<%= link_to show_post_path(post.id) do %>
					<div class="index_list_thumb">
						<%= image_tag(post.pictures[0].image.url(:resized)) %>
					</div>
					<h2 class="index_list_title"><%= truncate(post.title, :length=>35) %></h2>
					<p class="index_list_date"><i class="icon-calendar"></i><%= post.open_date.strftime("%-m/%-d") %>〜<%= post.close_date.strftime("%-m/%-d") %>　<i class="icon-map"></i><%= post.place %></p>
				<% end %>
			</li>
		<% end %>
	</ul>
	<!-- <p class="index_more">もっと表示する</p> -->

	<script type="text/javascript">
	$(window).load(function() {
		$('#IndexList').masonry({
			itemSelector: 'li',
			<% if request.smart_phone? %>
				columnWidth: (screen.availWidth-10)/2,
			<% else %>
				columnWidth: 300,
			<% end %>
			isFitWidth: true,
		});
	})
	</script>
</div>
