<% set_meta_tags({
title: 'フライヤー登録申請',
og: {
	type: 'website',
},
})%>

<div class="new">
	<h3 class="new_title">フライヤー登録</h3>
	<%= form_for :post, :html => {multipart: true, id:'new_post'} do |f| %>
		<table class="form">
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>フライヤー</p>
				</th>
				<td class="form_center">
					<ul class="form_uploads">
						<li>
							<div id="preview_field1"></div>
	            <%= file_field_tag "images[]", :type => "file", :onchange => "preview(this,1)" %>
						</li>
						<li>
							<div id="preview_field2"></div>
							<%= file_field_tag "images[]", :type => "file", :onchange => "preview(this,2)" %>
						</li>
						<li>
							<div id="preview_field3"></div>
							<%= file_field_tag "images[]", :type => "file", :onchange => "preview(this,3)" %>
						</li>
						<li>
							<div id="preview_field4"></div>
							<%= file_field_tag "images[]", :type => "file", :onchange => "preview(this,4)" %>
						</li>
					</ul>
					<p class="form_center_text clear">※「.jpg」「.jpeg」「.png」ファイルを4つまでアップロードできます。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>イベント名</p>
				</th>
				<td class="form_center">
	        <%= f.text_field :title, :class=>"form_text", :placeholder=>"(例) 名古屋アートクラブ定期展覧会" %>
					<p class="form_center_text">※ドメイン指定受信を設定されている方は『artpocket.jp』を受信できるように設定してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>紹介文</p>
				</th>
				<td class="form_center">
	        <%= f.text_area :body, :class=>"form_text", :rows=>8 %>
					<p class="form_center_text">※ドメイン指定受信を設定されている方は『artpocket.jp』を受信できるように設定してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
	        <p><span class="form_left_tag required">必須</span>カテゴリ</p>
				</th>
				<td class="form_center form_select">
					<%= f.collection_select :category_id, Category.all, :id, :title_ja %>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>開催日</p>
				</th>
				<td class="form_center">
	        <%= f.text_field :open_date, :class=>"form_date", :placeholder=>"(例) 2014-11-03", data: {"beatpicker"=>"true", "beatpicker-extra"=>"customOptions"} %>
					<span class="form_date_span">　〜　</span>
	        <%= f.text_field :close_date, :class=>"form_date", :placeholder=>"(例) 2014-11-06", data: {"beatpicker"=>"true", "beatpicker-extra"=>"customOptions"} %>
					<p class="form_date_text form_center_text">※開催期間中に休館日などがある場合は紹介文にその盲お書きください</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>開催時間</p>
				</th>
				<td class="form_center">
	        <%= f.text_field :open_time, :class=>"form_time timepicker", :placeholder=>"(例) 10:00" %>
					<span>　〜　</span>
	        <%= f.text_field :close_time, :class=>"form_time timepicker", :placeholder=>"(例) 17:00" %>
					<p class="form_center_text">※ドメイン指定受信を設定されている方は『artpocket.jp』を受信できるように設定してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>開催場所</p>
				</th>
				<td class="form_center">
	        <%= f.text_field :place, :class=>"form_text", :placeholder=>"(例) ギャラリー栄" %>
					<p class="form_center_text">※部屋番号なども明記してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>料金</p>
				</th>
				<td class="form_center">
	        <div class="form_free"><input type="radio" name="charge" id="form_radio_charge_free" checked>無料<span>/</span></div>
					<input type="radio" name="charge" id="form_radio_charge">
					<input type="number" id="form_input_charge" class="form_text form_input_charge" placeholder="(例) 700" min="100" max="10000" step="100"><span>円</span>
					<%= f.hidden_field :charge, :value=>'0' %>
					<p class="form_center_text">※ドメイン指定受信を設定されている方は『artpocket.jp』を受信できるように設定してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag free">自由</span>Webサイト</p>
				</th>
				<td class="form_center">
	        <%= f.url_field :url, :class=>"form_text", :placeholder=>"(例) http://artpocket.me" %>
					<p class="form_center_text">※ホームページやブログのURLをそのまま入力して下さい。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag free">自由</span>Facebook</p>
				</th>
				<td class="form_center">
	        <%= f.url_field :facebook, :class=>"form_text", :placeholder=>"(例) https://facebook.com/artpocket.me" %>
					<p class="form_center_text">※イベントページやグループページのURLをそのまま入力してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag free">自由</span>Twitter</p>
				</th>
				<td class="form_center">
	        <%= f.url_field :twitter, :class=>"form_text", :placeholder=>"(例) https://twitter.com/artpocket" %>
					<p class="form_center_text">※プロフィールページのURLをそのまま入力してください。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>主催者</p>
				</th>
				<td class="form_center">
					<%= f.text_field :promoter, :class=>"form_text", :placeholder=>"(例) 名古屋アートクラブ" %>
					<p class="form_center_text">※主催団体もしくは個人のお名前を入力して下さい。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>連絡先</p>
				</th>
				<td class="form_center">
	        <%= f.email_field :mail, :class=>"form_text", :placeholder=>"(例) support@artpocket.me", :type=>"email" %>
					<p class="form_center_text">※メールアドレスを入力してください。webサイトには掲載されません。</p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>規約の同意</p>
				</th>
				<td class="form_center">
					<input type="checkbox" id="form_check" class="form_check"><%= link_to "利用規約", :terms_statics, {:target=>"_blank", :class=>"form_check_link"} %>に同意する
				</td>
			</tr>
		</table>
		<p id="form_submit" class="form_submit">確認画面へ</p>
	<% end %>
	<div id="confirm" class="confirm">
		<table class="form">
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>フライヤー</p>
				</th>
				<td class="form_center">
					<ul class="form_uploads">
						<li>
							<div id="confirm_field1"></div>
						</li>
						<li>
							<div id="confirm_field2"></div>
						</li>
						<li>
							<div id="confirm_field3"></div>
						</li>
						<li>
							<div id="confirm_field4"></div>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>イベント名</p>
				</th>
				<td class="form_center">
					<p id="confirm_title" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>紹介文</p>
				</th>
				<td class="form_center">
					<p id="confirm_body" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>カテゴリ</p>
				</th>
				<td class="form_center">
					<p id="confirm_category" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>開催日</p>
				</th>
				<td class="form_center">
					<p class="form_center_text"><span id="confirm_open_date"></span> 〜 <span id="confirm_close_date"></span></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>開催時間</p>
				</th>
				<td class="form_center">
					<p class="form_center_text"><span id="confirm_open_time"></span> 〜 <span id="confirm_close_time"></span></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>開催場所</p>
				</th>
				<td class="form_center">
					<p id="confirm_place" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>料金</p>
				</th>
				<td class="form_center">
					<p id="confirm_charge" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag free">自由</span>Webサイト</p>
				</th>
				<td class="form_center">
					<p id="confirm_url" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag free">自由</span>Facebook</p>
				</th>
				<td class="form_center">
					<p id="confirm_facebook" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag free">自由</span>Twitter</p>
				</th>
				<td class="form_center">
					<p id="confirm_twitter" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>主催者</p>
				</th>
				<td class="form_center">
					<p id="confirm_promoter" class="form_center_text"></p>
				</td>
			</tr>
			<tr>
				<th class="form_left">
					<p><span class="form_left_tag required">必須</span>連絡先</p>
				</th>
				<td class="form_center">
					<p id="confirm_mail" class="form_center_text"></p>
				</td>
			</tr>
		</table>
		<p id="confirm_cancel" class="confirm_cancel">入力し直す</p>
		<p id="confirm_submit" class="confirm_submit">以上の内容で申請する</p>
	</div>
</div>
<script>
var Form = $('#new_post');
var FormSubmit = $('#form_submit');
var Confirm = $('#confirm');
var ConfirmCancel = $('#confirm_cancel');
var ConfirmSubmit = $('#confirm_submit');

Form.validate({
	rules: {
		"post[title]" :{
			required: true,
      minlength: 3,
      maxlength: 30,
		},
		"post[body]" :{
			required: true,
			minlength: 3,
			maxlength: 500,
		},
		"post[open_date]" :{
			required: true,
		},
		"post[close_date]" :{
			required: true,
		},
		"post[open_time]" :{
			required: true,
		},
		"post[close_time]" :{
			required: true,
		},
		"post[place]" :{
			required: true,
			minlength: 3,
			maxlength: 30,
		},
		"post[url]" :{
			url: true,
		},
		"post[facebook]" :{
			url: true,
		},
		"post[twitter]" :{
			url: true,
		},
		"post[mail]" :{
			required: true,
			email: true,
		},
	},
	messages: {
		"post[title]" :{
			required: "エラー：必須項目です",
			minlength: "エラー：文字数が足りません",
			maxlength: "エラー：文字数が長すぎます",
		},
		"post[body]" :{
			required: "エラー：必須項目です",
			minlength: "エラー：文字数が足りません",
			maxlength: "エラー：文字数が長すぎます",
		},
		"post[open_date]" :{
			required: "エラー：必須項目です",
		},
		"post[close_date]" :{
			required: "エラー：必須項目です",
		},
		"post[open_time]" :{
			required: "エラー：必須項目です",
		},
		"post[close_time]" :{
			required: "エラー：必須項目です",
		},
		"post[place]" :{
			required: "エラー：必須項目です",
			minlength: "エラー：文字数が足りません",
			maxlength: "エラー：文字数が長すぎます",
		},
		"post[url]" :{
			url: "エラー：正しいURLを入力してください",
		},
		"post[facebook]" :{
			url: "エラー：正しいURLを入力してください",
		},
		"post[twitter]" :{
			url: "エラー：正しいURLを入力してください",
		},
		"post[mail]" :{
			required: "エラー：必須項目です",
			email: "エラー：正しいメールアドレスを入力して下さい",
		},
	}
});

Confirm.hide();

var is_alert = true;
$(window).on('beforeunload', function() {
	if(is_alert) return "『以上の内容で申請する』ボタンを押して頂くまで登録したことにはなりません。『以上の内容で申請する』ボタンを押して下さい。";
});

var isChecked = false;
$('#form_check').change(function(){
	if ($(this).is(':checked')) {
		isChecked = true;
		FormSubmit.addClass('active');
	} else {
		isChecked = false;
		FormSubmit.removeClass('active');
	}
});

FormSubmit.click(function() {
	if(!isChecked) return;

	Form.validate();
	if(!Form.valid()) return;

	Form.hide();

	var form_list = [
		'title',  'body', 'open_date',  'close_date',
		'open_time',  'close_time', 'place',  'charge',
		'promoter', 'url',  'facebook', 'twitter',
		'mail'
	];
	$.each(form_list, function(i, value) {
			$('#confirm_'+value).text($('#post_'+value).val());
	});

	var category = [
		'イラスト・グラフィック',  '建築・インテリア', '', '写真・映像・メディア', 'ファッション・クラフト', 'その他'
	];
	$('#confirm_category').text(category[Math.floor($('#post_category_id').val()/10)]);

	Confirm.show();
	$('html,body').animate({
		scrollTop: 0
	}, 300);
})

ConfirmCancel.click(function() {
	Form.show();
	Confirm.hide();
	$('html,body').animate({
		scrollTop: 0
	}, 300);
})

var is_submitted = false;
ConfirmSubmit.click(function() {
	if(is_submitted) {
		alert("只今処理中です。\nそのままお待ちください。");
		return;
	}
	is_submitted = true;

	var n=0;
	$(this).addClass('disable').text('送信中...');

	is_alert = false;

	$('#new_post').submit();
})

$(function() {
	$('.timepicker').timepicker({
		'step': 30,
		'timeFormat': 'H:i',
		'minTime': '8:00',
		'maxTime': '22:00',
	});
});

$('#form_radio_charge').hide();

$('#form_radio_charge_free').click(function(){
	$('#form_radio_charge_free').attr("checked", true );
	$('#form_radio_charge').attr("checked", false );
	$(':input[name="post[charge]"]').val(0);
	$('#form_input_charge').val("");
});

$('#form_input_charge').change(function(){
	$('#form_radio_charge').attr("checked", true );
	$('#form_radio_charge_free').attr("checked", false );
	$(':input[name="post[charge]"]').val($(this).val());
});

function preview(ele, n) {
	if (!ele.files.length) return;  // ファイル未選択

	var file = ele.files[0];
	if (!/^image\/(png|jpg|jpeg)$/.test(file.type)) return;  // typeプロパティでMIMEタイプを参照

	var img = document.createElement('img');
	var fr = new FileReader();
	fr.onload = function() {
			$('#preview_field'+n).empty();
			$('#confirm_field'+n).empty();
			img.src = fr.result;  // 読み込んだ画像データをsrcにセット
			$('#preview_field'+n).append('<img src="'+img.src+'">');
			$('#confirm_field'+n).append('<img src="'+img.src+'">');
	}
	fr.readAsDataURL(file);  // 画像読み込み
}

customOptions = {
	daysSimple: ["日" , "月" , "火" , "水" , "木" , "金" , "土"],
	monthsFull: ["1月" , "2月" , "3月" , "4月" , "5月" , "6月" , "7月" , "8月" , "9月" , "10月" , "11月" , "12月"],
	labels: {
		today: "Tod",
		gotoDateInput: "Insert your date",
		gotoDateButton: "Set",
		clearButton: "Wipe"
	},
	modules: {
		header: true,
		footer: false,
		daysOfTheWeek: true,
		navBar: true,
		today: false,
		gotoDate: false,
		icon: false,
		clear: false
	}
}
</script>
