<div class="header">
  <div class="container">
    <h1 class="header_logo"><%= image_tag 'logo.png'%></h1>
    <ul class="nav">
      <li>このサイトとは</li>
      <li>利用規約</li>
      <li>お問い合わせ</li>
    </ul>
    <ul class="category">
      <li class="active">デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
    </ul>
  </div>
</div>
<div class="detail">
	<div class="container">
		<div class="detail_left">
			<ul class="detail_left_picts">
        <% @post.pictures.each do |image| %>
				  <li><%= image_tag(image.authenticated_image_url(:pc_large)) %></li>
        <% end %>
			</ul>
		</div>
		<div class="detail_right_wrap">
			<div class="detail_right">
				<h2 class="detail_right_title"><%= @post.title %></h2>
				<ul class="detail_right_sns">
					<li class="twitter"></li>
					<li class="facebook"></li>
					<li class="google"></li>
					<li class="hatena"></li>
				</ul>
				<p class="detail_right_summary"><%= simple_format @post.body %></p>
				<table class="detail_right_info">
					<tbody>
						<tr>
							<th>開催日</th>
							<td>
                <%= @post.open_date %> 〜 <%= @post.close_date %>
                </br>
                <%= @post.open_time %> 〜 <%= @post.close_time %>
              </td>
						</tr>
						<tr>
							<th>開催場所</th>
							<td></td>
						</tr>
						<tr>
							<th>URL</th>
							<td><%= @post.url %></td>
						</tr>
						<tr>
							<th>Facebook</th>
							<td><%= @post.facebook %></td>
						</tr>
						<tr>
							<th>Twitter</th>
							<td><%= @post.twitter %></td>
						</tr>
						<tr>
							<th>料金</th>
							<td><%= @post.charge %></td>
						</tr>
						<tr>
							<th>主催</th>
							<td><%= @post.promoter %></td>
						</tr>
						<tr>
							<th>お問い合わせ</th>
							<td><%= @post.mail %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="detail_bottom">
		<div class="container">
			<div id="map" class="detail_bottom_map" style="width: 100%; height: 300px;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
/*
var map;
$(document).ready(function(){
	map = new GMaps({
		div: '#map',
		lat: 35.681382,
		lng: 139.766084,
		zoo: 16,
	});

	map.addMarker({
		lat: 35.681382,
		lng: 139.766084,
		title: '東京駅',
		infoWindow: {
			content: '<p>HTML Content</p>'
		}
	})
});
*/

$(window).load(function() {
	$(".detail_right_sns .twitter").socialbutton("twitter", {
		button : "horizontal",
		text : "つぶやきに含めるテキスト",
		url : "<%=request.url%>",
	}).width(95);

	$(".detail_right_sns .facebook").socialbutton("facebook_like", {
		button : "button_count",
		url : "<%=request.url%>",
	}).width(110);

	$(".detail_right_sns .google").socialbutton("google_plusone", {
		button : "medium",
		url : "<%=request.url%>",
		count : true,
	}).width(70);

	$(".detail_right_sns .hatena").socialbutton("hatena", {
		button : "standard",
		url : "<%=request.url%>",
		title : "<%=@post.title%>",
	}).width(70);
})

$(window).scroll(function () {
	var s = $(this).scrollTop();
	var r = $('.detail_right_wrap').offset().top;
	var l = $('.detail_left').offset().top + $('.detail_left').height();
	var f = l-r-$('.detail_right').height();

	if (0 <= s && s <= r) {
		$('.detail_right').css('position','static');
	} else if (s > r && s < f) {
		$('.detail_right').css('position','fixed');
		$('.detail_right').css('top','0');
	} else if (s > f) {
		$('.detail_right').css('position','absolute');
		$('.detail_right').css('top',f);
	}
})
</script>
