<div class="show">
	<div class="show_left">
		<ul class="show_left_picts">
      <% @post.pictures.each do |picture| %>
			  <li><%= image_tag(picture.image.url(:pc_large)) %></li>
      <% end %>
		</ul>
	</div>
	<div class="show_right_wrap">
		<div class="show_right">
			<h2 class="show_right_title"><%= @post.title %></h2>
			<ul class="show_right_sns">
	      <li class="show_right_sns facebook" onclick="window.open('http://www.facebook.com/dialog/feed?app_id=893420327351170&amp;link=http%3A%2F%2Fretrip.jp%2Farticles%2F2651%2F&amp;feature=share&amp;display=popup&amp;redirect_uri=http%3A%2F%2Fretrip.jp%2Farticles%2F2651%2F', 'facebookWindow', 'height=306, width=650, menubar=no, toolbar=no, scrollbars=no');return false;"><i class="icon-facebook"></i>シェアする</li>
	      <li class="show_right_sns twitter" onclick="window.open('https://twitter.com/share?text=<%= @post.title %> @artpocket&amp;url=http://artpocket.me', 'twitterWindow', 'height=420, width=550, menubar=no, toolbar=no, scrollbars=no');return false;"><i class="icon-twitter"></i>ツイートする</li>
	  </ul>
			<%= simple_format @post.body, {:class=>"show_right_body"} %>
			<table class="show_right_info">
				<tbody>
					<tr>
						<th>開催日</th>
						<td>
              <%= @post.open_date %> 〜 <%= @post.close_date %>
              </br>
              <%= @post.open_time %> 〜 <%= @post.close_time %>
            </td>
					</tr>
					<tr>
						<th>開催場所</th>
						<td></td>
					</tr>
					<tr>
						<th>URL</th>
						<td><%= @post.url %></td>
					</tr>
					<tr>
						<th>Facebook</th>
						<td><%= @post.facebook %></td>
					</tr>
					<tr>
						<th>Twitter</th>
						<td><%= @post.twitter %></td>
					</tr>
					<tr>
						<th>料金</th>
						<td><%= @post.charge %></td>
					</tr>
					<tr>
						<th>主催</th>
						<td><%= @post.promoter %></td>
					</tr>
					<tr>
						<th>お問い合わせ</th>
						<td><%= @post.mail %></td>
					</tr>
				</tbody>
			</table>
      <table class="show_right_calendar">
        <tbody>
          <tr>
            <th>開催日</th>
            <td>
              <%= @post.open_date %> 〜 <%= @post.close_date %>
              </br>
              <%= @post.open_time %> 〜 <%= @post.close_time %>
            </td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>
</div>
<div class="show_bottom">
		<div id="map" class="show_bottom_map" style="width: 100%; height: 300px;"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	header = $('#Header');
	mainLeft = $('#mainLeft');
	mainRight = $('#mainRight');
	const mainLeftSize = mainLeft.height() + header.outerHeight(true) - $(window).height();
	const mainRightPosition = mainLeft.outerWidth(true);
	const mainRightSize = header.outerHeight(true) + mainRight.height() - $(window).height();

	$(window).scroll(function () {
		var scroll = $(this).scrollTop();

		if(scroll > mainLeftSize && scroll <= mainRightSize) {
			mainLeft.css('position', 'fixed');
			mainLeft.css('bottom', '0');
			mainRight.css('margin-left', mainRightPosition);
		} else if(scroll > mainRightSize) {
			mainLeft.css('position', 'absolute');
			mainLeft.css('bottom', '0');
			mainRight.css('margin-left', mainRightPosition);
		} else {
			mainLeft.css('position', 'static');
			mainRight.css('margin-left', '0');
		}

		if(scroll > mainRightSize) {
			mainTop.show();
		} else {
			mainTop.hide();
		}
	})
});

  var map;
  map = new GMaps({
   div: '#map',
   lat: 35.681382,
   lng: 139.766084,
   zoo: 16,
  });

  map.addMarker({
   lat: 35.681382,
   lng: 139.766084,
   title: '東京駅',
   infoWindow: {
     content: '<p>HTML Content</p>'
   }
  });
</script>
