<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags(default_meta_tags) %>
  <%= stylesheet_link_tag 'sp/application', media: 'all' %>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <%= javascript_include_tag 'sp/application' %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <%= render 'templates/header_smart_phone' %>
  <div class="main">
    <%= yield %>
    <i id="mainGoTop" class="gotop icon-up"></i>
  </div>
  <%= render 'templates/footer' %>
</body>
</html>
