<!DOCTYPE html>
<html>
<head>
  <title>アートポケット</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag 'smartphone/application', media: 'all' %>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <%= render 'templates/top' %>
  <%= render 'templates/header' %>
  <div class="container">
    <div id="Main" class="main">
      <div class="left">
        <%= yield %>
      </div>
      <%= render 'templates/sidebar' %>
      <i id="mainGoTop" class="gotop icon-up"></i>
    </div>
  </div>
</body>
</html>
